<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="#">Data Base Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item navbar-brand">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @style = " color: azure ;" })</a>
              <a class="nav-item navbar-brand">@Html.ActionLink("Help", "Index", "Help", new { area = "" }, new { @style = " color: azure ;" })</a>
              <a class="nav-item navbar-collapse" href="https://localhost:44311/swagger" style = " color: azure ; margin-left: 20px" >Swagger</a>
            </div>
        </div>
    </nav>
    <div class="container body-content" style="margin-top: 50px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
